<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.bitlinks.ems.module.power.dal.mysql.minuteagg.MinuteAggregateDataMapper">


    <resultMap id="BaseResultMap"
               type="cn.bitlinks.ems.module.power.dal.dataobject.minuteagg.MinuteAggregateDataDO">
        <result column="data_site" property="dataSite"/>
        <result column="aggregate_time" property="aggregateTime"/>
        <result column="param_code" property="paramCode"/>
        <result column="energy_flag" property="energyFlag"/>
        <result column="standingbook_id" property="standingbookId"/>
        <result column="full_value" property="fullValue"/>
        <result column="incremental_value" property="incrementalValue"/>
        <result column="full_increment" property="fullIncrement"/>
        <result column="data_feature" property="dataFeature"/>
        <result column="data_type" property="dataType"/>
        <result column="usage" property="usage"/>
        <result column="acq_flag" property="acqFlag"/>

    </resultMap>

    <!-- 根据台账ID、参数编码和时间范围查询数据 -->
    <select id="selectByStandingbookIdsAndParamCodes" resultMap="BaseResultMap">
        SELECT *
        FROM minute_aggregate_data
        WHERE standingbook_id IN
        <foreach collection="standingbookIds" item="standingbookId" open="(" separator="," close=")">
            #{standingbookId}
        </foreach>
        AND param_code IN
        <foreach collection="paramCodes" item="paramCode" open="(" separator="," close=")">
            #{paramCode}
        </foreach>
        AND aggregate_time BETWEEN #{startTime} AND #{endTime}
        AND energy_flag=1
        ORDER BY standingbook_id, param_code, aggregate_time
    </select>

    <!-- 根据台账ID、参数编码和日期区间查询当天最后一分钟的数据 -->
    <select id="selectLastMinuteDataByDate" resultMap="BaseResultMap">
        SELECT m1.*
        FROM minute_aggregate_data m1
        INNER JOIN (
        SELECT standingbook_id, param_code, MAX(aggregate_time) as max_time
        FROM minute_aggregate_data
        WHERE standingbook_id IN
        <foreach collection="standingbookIds" item="standingbookId" open="(" separator="," close=")">
            #{standingbookId}
        </foreach>
        AND param_code IN
        <foreach collection="paramCodes" item="paramCode" open="(" separator="," close=")">
            #{paramCode}
        </foreach>
        AND aggregate_time &gt;= #{startTime} AND aggregate_time &lt; #{endTime}
        AND energy_flag=1
        GROUP BY standingbook_id, param_code
        ) m2 ON m1.standingbook_id = m2.standingbook_id
        AND m1.param_code = m2.param_code
        AND m1.aggregate_time = m2.max_time
    </select>

    <!-- 根据台账ID、参数编码和日期区间查询当天所有增量数据之和 -->
    <select id="selectIncrementalSumByDate" resultMap="BaseResultMap">
        SELECT
        standingbook_id,
        param_code,
        #{startTime} as aggregate_time,
        SUM(incremental_value) as incremental_value,
        SUM(full_value) as full_value
        FROM minute_aggregate_data
        WHERE standingbook_id IN
        <foreach collection="standingbookIds" item="standingbookId" open="(" separator="," close=")">
            #{standingbookId}
        </foreach>
        AND param_code IN
        <foreach collection="paramCodes" item="paramCode" open="(" separator="," close=")">
            #{paramCode}
        </foreach>
        AND aggregate_time &gt;= #{startTime} AND aggregate_time &lt; #{endTime}
        AND energy_flag=1
        GROUP BY standingbook_id, param_code
    </select>

</mapper>

