<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.bitlinks.ems.module.acquisition.dal.mysql.collectrawdata.CollectRawDataMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        data_site,sync_time,param_code,energy_flag,standingbook_id,calc_value,raw_value,collect_time,full_increment,data_feature,data_type
    </sql>

    <resultMap id="BaseResultMap"
               type="cn.bitlinks.ems.module.acquisition.dal.dataobject.collectrawdata.CollectRawDataDO">
        <result column="data_site" property="dataSite"/>
        <result column="sync_time" property="syncTime"/>
        <result column="param_code" property="paramCode"/>
        <result column="energy_flag" property="energyFlag"/>
        <result column="standingbook_id" property="standingbookId"/>
        <result column="calc_value" property="calcValue"/>
        <result column="raw_value" property="rawValue"/>
        <result column="collect_time" property="collectTime"/>
        <result column="usage" property="usage"/>
        <result column="full_increment" property="fullIncrement"/>
        <result column="data_feature" property="dataFeature"/>
        <result column="data_type" property="dataType"/>
    </resultMap>

    <select id="selectLatestByStandingbookIds"
            resultMap="BaseResultMap">
        SELECT t.* FROM (
        SELECT *, DENSE_RANK() OVER (PARTITION BY standingbook_id ORDER BY sync_time DESC) AS rnk
        FROM collect_raw_data
        WHERE standingbook_id IN
        <foreach collection="standingbookIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
        ) t WHERE t.rnk = 1
        ORDER BY sync_time DESC
    </select>
    <select id="getGroupedSteadyFinalValue"
            resultMap="BaseResultMap">
        SELECT *
        FROM (
        SELECT *,
        ROW_NUMBER() OVER (
        PARTITION BY standingbook_id, param_code, energy_flag
        ORDER BY sync_time DESC
        ) AS rn
        FROM collect_raw_data
        WHERE sync_time >= #{startMinute}
        AND sync_time &lt;  #{endMinute}
        AND data_feature = 2  -- 只取稳态值
        AND `usage` = 0
        ) t
        WHERE rn = 1;
    </select>
    <select id="getGroupedStandingbookIdData"
            resultMap="BaseResultMap">
        SELECT DISTINCT
        standingbook_id
        FROM
        collect_raw_data
        WHERE
        `usage` = 1;
    </select>

    <select id="selectExactDataBatch"
            resultMap="BaseResultMap">
        SELECT *
        FROM collect_raw_data
        WHERE standingbook_id in
        <foreach collection="standingbookIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
        AND `usage` = 1
        AND sync_time = #{targetTime}
        LIMIT 1
    </select>
    <select id="selectPrevDataBatch"
            resultMap="BaseResultMap">
        SELECT distinct cr.data_site,cr.sync_time,cr.param_code,cr.energy_flag,cr.standingbook_id,cr.calc_value,cr.raw_value,cr.collect_time, cr.full_increment,cr.data_feature,cr.data_type,cr.usage
        FROM collect_raw_data cr
        JOIN (
        SELECT standingbook_id, MAX(sync_time) AS max_time
        FROM collect_raw_data
        WHERE standingbook_id in
        <foreach collection="standingbookIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
        AND `usage` = 1
        AND sync_time &lt; #{targetTime}
        GROUP BY standingbook_id
        ) latest
        ON cr.standingbook_id = latest.standingbook_id and `usage`=1
        AND cr.sync_time = latest.max_time
    </select>
    <select id="selectNextDataBatch"
            resultMap="BaseResultMap">
        SELECT distinct cr.data_site,cr.sync_time,cr.param_code,cr.energy_flag,cr.standingbook_id,cr.calc_value,cr.raw_value,cr.collect_time,cr.full_increment,cr.data_feature,cr.data_type,cr.usage
        FROM collect_raw_data cr
        JOIN (
        SELECT standingbook_id, MIN(sync_time) AS min_time
        FROM collect_raw_data
        WHERE standingbook_id IN
        <foreach collection="standingbookIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
        AND `usage` = 1
        AND sync_time > #{targetTime}
        GROUP BY standingbook_id
        ) latest
        ON cr.standingbook_id = latest.standingbook_id and `usage`= 1
        AND cr.sync_time = latest.min_time
    </select>
</mapper>
