<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.bitlinks.ems.module.power.dal.mysql.collectrawdata.CollectRawDataMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        data_site,sync_time,param_code,energy_flag,standingbook_id,calc_value,raw_value,collect_time,full_increment,data_feature,data_type
    </sql>

    <resultMap id="BaseResultMap"
               type="cn.bitlinks.ems.module.power.dal.dataobject.collectrawdata.CollectRawDataDO">
        <result column="data_site" property="dataSite"/>
        <result column="sync_time" property="syncTime"/>
        <result column="param_code" property="paramCode"/>
        <result column="energy_flag" property="energyFlag"/>
        <result column="standingbook_id" property="standingbookId"/>
        <result column="calc_value" property="calcValue"/>
        <result column="raw_value" property="rawValue"/>
        <result column="collect_time" property="collectTime"/>
        <result column="usage" property="usage"/>
        <result column="full_increment" property="fullIncrement"/>
        <result column="data_feature" property="dataFeature"/>
        <result column="data_type" property="dataType"/>
    </resultMap>

    <select id="getOutsideDataByDataSite"
            resultMap="BaseResultMap">
        SELECT t.* FROM (
        SELECT *, DENSE_RANK() OVER (PARTITION BY standingbook_id,param_code ORDER BY sync_time DESC) AS rnk
        FROM collect_raw_data
        WHERE data_site IN
        <foreach collection="dataSites" item="dataSite" open="(" separator="," close=")">
            #{dataSite}
        </foreach>
        ) t WHERE t.rnk = 1
        ORDER BY sync_time DESC
    </select>
</mapper>
