<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.bitlinks.ems.module.acquisition.dal.mysql.minuteaggregatedata.MinuteAggregateDataMapper">

    <resultMap id="BaseResultMap"
               type="cn.bitlinks.ems.module.acquisition.dal.dataobject.minuteaggregatedata.MinuteAggregateDataDO">
        <result column="data_site" property="dataSite"/>
        <result column="aggregate_time" property="aggregateTime"/>
        <result column="param_code" property="paramCode"/>
        <result column="energy_flag" property="energyFlag"/>
        <result column="standingbook_id" property="standingbookId"/>
        <result column="full_value" property="fullValue"/>
        <result column="incremental_value" property="incrementalValue"/>
        <result column="full_increment" property="fullIncrement"/>
        <result column="data_feature" property="dataFeature"/>
        <result column="data_type" property="dataType"/>
        <result column="usage" property="usage"/>

    </resultMap>
    <delete id="deleteDataByMinute">
        DELETE FROM minute_aggregate_data
        WHERE aggregate_time = #{aggregateTime}
        AND standingbook_id = #{standingbookId}
    </delete>

    <select id="getLatestData"
            resultType="cn.bitlinks.ems.module.acquisition.dal.dataobject.minuteaggregatedata.MinuteAggregateDataDO">
        SELECT mad.*
        FROM minute_aggregate_data mad
                 INNER JOIN (
            SELECT
                standingbook_id,
                `usage`,
                MAX(aggregate_time) AS max_time
            FROM minute_aggregate_data
            WHERE usage = 1
            GROUP BY standingbook_id, `usage`
        ) latest
        ON mad.standingbook_id = latest.standingbook_id
            AND mad.usage = latest.`usage`
            AND mad.aggregate_time = latest.max_time;
    </select>
    <select id="selectExactData"
            resultType="cn.bitlinks.ems.module.acquisition.dal.dataobject.minuteaggregatedata.MinuteAggregateDataDO">
        SELECT *
        FROM minute_aggregate_data
        WHERE standingbook_id = #{standingbookId}
        AND aggregateTime = #{targetTime}
        LIMIT 1
    </select>
    <select id="selectLatestDataByAggTime"
            resultType="cn.bitlinks.ems.module.acquisition.dal.dataobject.minuteaggregatedata.MinuteAggregateDataDO">
        SELECT *
        FROM minute_aggregate_data
        WHERE standingbook_id = #{standingbookId}
          AND aggregate_time &lt; #{targetTime}
        ORDER BY aggregate_time DESC
            LIMIT 1
    </select>

    <select id="selectOldestByStandingBookId"
            resultType="cn.bitlinks.ems.module.acquisition.dal.dataobject.minuteaggregatedata.MinuteAggregateDataDO">
        SELECT *
        FROM minute_aggregate_data
        WHERE standingbook_id = #{standingbookId}
        ORDER BY aggregate_time ASC
        LIMIT 1
    </select>
    <select id="selectLatestByStandingBookId"
            resultType="cn.bitlinks.ems.module.acquisition.dal.dataobject.minuteaggregatedata.MinuteAggregateDataDO">
        SELECT *
        FROM minute_aggregate_data
        WHERE standingbook_id = #{standingbookId}
        ORDER BY aggregate_time DESC
        LIMIT 1
    </select>
    <select id="getUsagePrevFullValue"
            resultType="cn.bitlinks.ems.module.acquisition.dal.dataobject.minuteaggregatedata.MinuteAggregateDataDO">
        SELECT *
        FROM minute_aggregate_data
        WHERE aggregate_time &lt; #{targetTime}
        AND `usage` = 1
        AND standingbook_id = #{standingbookId}
        AND full_value is not null
        AND acq_flag = 1
        ORDER BY aggregate_time DESC
        LIMIT 1;

    </select>
    <select id="getSbIdsUsagePrevFullValue"
            resultType="cn.bitlinks.ems.module.acquisition.dal.dataobject.minuteaggregatedata.MinuteAggregateDataDO">
        SELECT *
        FROM (
        SELECT *,
        ROW_NUMBER() OVER (PARTITION BY standingbook_id ORDER BY aggregate_time DESC) AS rn
        FROM minute_aggregate_data
        WHERE aggregate_time &lt; #{targetTime}
        AND `usage` = 1
        <if test="standingbookIds != null and standingbookIds.size() != 0">
            AND standingbook_id IN
            <foreach collection="standingbookIds" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
        </if>
        AND full_value IS NOT NULL
        -- AND acq_flag = 1
        ) t
        WHERE t.rn = 1;
    </select>
    <select id="getUsageExistFullValue"
            resultType="cn.bitlinks.ems.module.acquisition.dal.dataobject.minuteaggregatedata.MinuteAggregateDataDO">
        SELECT *
        FROM minute_aggregate_data
        WHERE aggregate_time = #{targetTime}
          AND `usage` = 1
          AND standingbook_id = #{standingbookId}
          AND full_value is not null
          AND acq_flag = 1
        ORDER BY aggregate_time ASC
            LIMIT 1;
    </select>
    <select id="getUsageNextFullValue"
            resultType="cn.bitlinks.ems.module.acquisition.dal.dataobject.minuteaggregatedata.MinuteAggregateDataDO">
        SELECT *
        FROM minute_aggregate_data
        WHERE aggregate_time > #{targetTime}
        AND `usage` = 1
        AND standingbook_id = #{standingbookId}
        AND full_value is not null
        AND acq_flag = 1
        ORDER BY aggregate_time ASC
        LIMIT 1;
    </select>
    <select id="getSbIdsUsageNextFullValue"
            resultType="cn.bitlinks.ems.module.acquisition.dal.dataobject.minuteaggregatedata.MinuteAggregateDataDO">
        SELECT *
        FROM (
        SELECT *,
        ROW_NUMBER() OVER (PARTITION BY standingbook_id ORDER BY aggregate_time DESC) AS rn
        FROM minute_aggregate_data
        WHERE aggregate_time > #{targetTime}
        AND `usage` = 1
        <if test="standingbookIds != null and standingbookIds.size() != 0">
            AND standingbook_id IN
            <foreach collection="standingbookIds" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
        </if>

        AND full_value IS NOT NULL
        -- AND acq_flag = 1
        ) t
        WHERE t.rn = 1;
    </select>
    <select id="getCopRangeData"
            resultType="cn.bitlinks.ems.module.acquisition.dal.dataobject.minuteaggregatedata.MinuteAggregateDataDO">
        WITH base_data AS (
        SELECT *,
        DATE_FORMAT(aggregate_time, '%Y-%m-%d %H') AS hour_bucket,
        IF(MINUTE(aggregate_time) = 0 AND SECOND(aggregate_time) = 0, 1, 0) AS is_exact_hour
        FROM minute_aggregate_data
        WHERE

        aggregate_time BETWEEN #{starTime} AND #{endTime}
        and `usage` = 1
        <if test="standingbookIds != null and standingbookIds.size() != 0">
            AND standingbook_id IN
            <foreach collection="standingbookIds" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
        </if>
        <if test="paramCodes != null and paramCodes.size() != 0">
            AND param_code IN
            <foreach collection="paramCodes" item="paramCode" open="(" separator="," close=")">
                #{paramCode}
            </foreach>
        </if>
        ),
        ranked_data AS (
        SELECT *,
        ROW_NUMBER() OVER (
        PARTITION BY standingbook_id, param_code, hour_bucket
        ORDER BY is_exact_hour DESC, aggregate_time ASC
        ) AS rn
        FROM base_data
        )
        SELECT *
        FROM ranked_data
        WHERE rn = 1
        ORDER BY standingbook_id, param_code, aggregate_time;

    </select>
    <select id="getCopRangeDataSteady"
            resultType="cn.bitlinks.ems.module.acquisition.dal.dataobject.minuteaggregatedata.MinuteAggregateDataDO">
        WITH ranked_data AS (
        SELECT *,
        ROW_NUMBER() OVER (
        PARTITION BY standingbook_id, param_code, DATE_TRUNC('hour', aggregate_time)
        ORDER BY aggregate_time DESC
        ) AS rn
        FROM minute_aggregate_data
        WHERE
        aggregate_time >= #{starTime}
        AND aggregate_time &lt; #{endTime}
        AND data_feature = 2
        <if test="standingbookIds != null and standingbookIds.size() != 0">
            AND standingbook_id IN
            <foreach collection="standingbookIds" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
        </if>
        <if test="paramCodes != null and paramCodes.size() != 0">
            AND param_code IN
            <foreach collection="paramCodes" item="paramCode" open="(" separator="," close=")">
                #{paramCode}
            </foreach>
        </if>
        )
        SELECT *
        FROM ranked_data
        WHERE rn = 1
        ORDER BY standingbook_id, param_code, aggregate_time;

    </select>

</mapper>
