<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.bitlinks.ems.module.power.dal.mysql.standingbook.acquisition.StandingbookAcquisitionMapper">

    <!--
        一般情况下，尽可能使用 Mapper 进行 CRUD 增删改查即可。
        无法满足的场景，例如说多表关联查询，才使用 XML 编写 SQL。
        代码生成器暂时只生成 Mapper XML 文件本身，更多推荐 MybatisX 快速开发插件来生成查询。
        文档可见：https://www.bitlinks.cn/MyBatis/x-plugins/
     -->


    <select id="selectServerDataSiteMapping"
            resultType="cn.bitlinks.ems.module.power.dto.ServerParamsCacheDTO">
        SELECT
            distinct
            CONCAT_WS('|', ss.protocol,ss.ip_address, ss.username, ss.`password`, ss.clsid) AS server_key,
            acqd.data_site
        FROM power_standingbook_acquisition acq
                 JOIN power_standingbook_acquisition_detail acqd
                      ON acq.id = acqd.acquisition_id
                 JOIN power_service_settings ss
                      ON acq.service_settings_id = ss.id
        WHERE acq.status = 1 and acq.deleted= 0
          AND acqd.status = 1 and acqd.deleted=0
          and acqd.data_site is not null;
    </select>
    <select id="selectServerStandingbookMapping"
            resultType="cn.bitlinks.ems.module.power.dto.ServerStandingbookCacheDTO">
        SELECT
            distinct
            CONCAT_WS('|', ss.protocol,ss.ip_address, ss.username, ss.`password`, ss.clsid) AS server_key,
            acq.standingbook_id
        FROM power_standingbook_acquisition acq
                 JOIN power_standingbook_acquisition_detail acqd
                      ON acq.id = acqd.acquisition_id
                 JOIN power_service_settings ss
                      ON acq.service_settings_id = ss.id
        WHERE acq.status = 1 and acq.deleted= 0
          AND acqd.status = 1 and acqd.deleted=0
          and acqd.data_site is not null;
    </select>
</mapper>