<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.bitlinks.ems.module.power.dal.mysql.standingbook.attribute.StandingbookAttributeMapper">

    <!--
        一般情况下，尽可能使用 Mapper 进行 CRUD 增删改查即可。
        无法满足的场景，例如说多表关联查询，才使用 XML 编写 SQL。
        代码生成器暂时只生成 Mapper XML 文件本身，更多推荐 MybatisX 快速开发插件来生成查询。
        文档可见：https://www.bitlinks.cn/MyBatis/x-plugins/
     -->

    <select id="selectStandingbookIdByAttrCondition" parameterType="java.util.Map"  resultType="Long">
        select standingbook_id from    (
        SELECT
        standingbook_id,
        type_id
        <if test="children!= null and children.size > 0">
            ,
            <foreach collection="children" item="valueList" index="key" separator=" , ">
                MAX(CASE WHEN code = #{key} THEN `value` ELSE NULL END) AS ${key}
            </foreach>
        </if>
        FROM
        power_standingbook_attribute
        where deleted = 0
        <if test="sbIds!= null and sbIds.size > 0">
            and standingbook_id in
            <foreach collection="sbIds" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>

        GROUP BY
        standingbook_id,type_id
        HAVING standingbook_id is not null

        <if test="children!= null and children.size > 0">
            and
            <foreach collection="children" item="valueList" index="key" separator=" and ">
                (
                <foreach collection="valueList" item="itemValue" separator=" or ">
                    <if test="key == 'measuringInstrumentId' or key == 'measuringInstrumentName' or key == 'equipmentId' or key == 'equipmentName'">
                        ${key} LIKE CONCAT('%', #{itemValue}, '%')
                    </if>
                    <if test="key != 'measuringInstrumentId' and key != 'measuringInstrumentName' and key != 'equipmentId' and key != 'equipmentName'">
                        ${key} = #{itemValue}
                    </if>
                </foreach>
                )
            </foreach>
        </if>
        ) r
    </select>
    <select id="selectSbNodeByCodeAndName"
            resultType="cn.bitlinks.ems.module.power.controller.admin.standingbook.vo.StandingBookTypeTreeRespVO">

        select
            CONCAT(r.standingbook_id,'#','true') as nodeId,
            CONCAT(r.type_id,'#','false') as parentNodeId,
            r.standingbook_id as rawId,
            CONCAT( r.sbName,'(', sbCode, ')' ) as nodeName,
            true as `show`

        from(
                SELECT
                    standingbook_id,
                    type_id,
                    MAX( CASE WHEN CODE = 'measuringInstrumentName' THEN `value` ELSE NULL END ) AS sbName,
                    MAX( CASE WHEN CODE = 'measuringInstrumentId' THEN `value` ELSE NULL END ) AS sbCode ,
        MAX( CASE WHEN CODE = 'tableType' THEN `value` ELSE NULL END ) AS tableType
        FROM
                    power_standingbook_attribute
                WHERE
                    deleted = 0
                AND standingbook_id in
                <foreach collection="sbIds" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
                GROUP BY
                    standingbook_id,
                    type_id
                HAVING
                    standingbook_id IS NOT NULL
        AND tableType = '实体表计'
        <if test="sbName != null and sbName != ''">
            AND sbName LIKE CONCAT( '%', #{sbName}, '%' )
        </if>
        <if test="sbCode != null and sbCode != ''">
            AND sbCode LIKE CONCAT( '%', #{sbCode}, '%' )
        </if>
            ) r

    </select>
    <select id="selectDeviceNodeByCodeAndName"
            resultType="cn.bitlinks.ems.module.power.controller.admin.standingbook.vo.StandingBookTypeTreeRespVO">

        select
        CONCAT(r.standingbook_id,'#','true') as nodeId,
        CONCAT(r.type_id,'#','false') as parentNodeId,
        r.standingbook_id as rawId,
        CONCAT( r.sbName,'(', sbCode, ')' ) as nodeName,
        true as `show`

        from(
        SELECT
        standingbook_id,
        type_id,
        MAX( CASE WHEN CODE = 'equipmentName' THEN `value` ELSE NULL END ) AS sbName,
        MAX( CASE WHEN CODE = 'equipmentId' THEN `value` ELSE NULL END ) AS sbCode
        FROM
        power_standingbook_attribute
        WHERE
        deleted = 0
        <if test="sbIds != null and sbIds.size() != 0">
            AND standingbook_id in
            <foreach collection="sbIds" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        GROUP BY
        standingbook_id,
        type_id
        HAVING
        standingbook_id IS NOT NULL
        AND sbName IS NOT NULL AND sbCode IS NOT NULL
        <if test="sbName != null and sbName != ''">
            AND sbName LIKE CONCAT( '%', #{sbName}, '%' )
        </if>
        <if test="sbCode != null and sbCode != ''">
            AND sbCode LIKE CONCAT( '%', #{sbCode}, '%' )
        </if>
        ) r

    </select>
    <select id="getStandingbookDTO"
            resultType="cn.bitlinks.ems.module.power.controller.admin.standingbook.vo.StandingbookDTO">
        SELECT
            attr.standingbook_id,
            attr.type_id,
            MAX(CASE WHEN attr.code = 'measuringInstrumentId' THEN attr.value END) AS code,
            MAX(CASE WHEN attr.code = 'measuringInstrumentName' THEN attr.value END) AS name
        FROM
            power_standingbook_attribute attr
        WHERE
            attr.code IN ('measuringInstrumentId', 'measuringInstrumentName')
          and attr.standingbook_id is not null and attr.deleted=0
        GROUP BY
            attr.standingbook_id,
            attr.type_id

        UNION ALL

        SELECT
            attr.standingbook_id,
            attr.type_id,
            MAX(CASE WHEN attr.code = 'equipmentId' THEN attr.value END) AS code,
            MAX(CASE WHEN attr.code = 'equipmentName' THEN attr.value END) AS name
        FROM
            power_standingbook_attribute attr
        WHERE
            attr.code IN ('equipmentId', 'equipmentName')
          and attr.standingbook_id is not null and attr.deleted=0
        GROUP BY
            attr.standingbook_id,
            attr.type_id

    </select>

    <select id="getDeviceStandingbookDTO"
            resultType="cn.bitlinks.ems.module.power.controller.admin.standingbook.vo.StandingbookDTO">
        SELECT
            attr.standingbook_id,
            attr.type_id,
            MAX(CASE WHEN attr.code = 'equipmentId' THEN attr.value END) AS code,
            MAX(CASE WHEN attr.code = 'equipmentName' THEN attr.value END) AS name
        FROM
            power_standingbook_attribute attr
        WHERE
            attr.code IN ('equipmentId', 'equipmentName')
          and attr.standingbook_id is not null and attr.deleted=0
        GROUP BY
            attr.standingbook_id,
            attr.type_id
    </select>

    <select id="getMeasuringInstrumentStandingbookDTO"
            resultType="cn.bitlinks.ems.module.power.controller.admin.standingbook.vo.StandingbookDTO">
        SELECT
            attr.standingbook_id,
            attr.type_id,
            MAX(CASE WHEN attr.code = 'measuringInstrumentId' THEN attr.value END) AS code,
            MAX(CASE WHEN attr.code = 'measuringInstrumentName' THEN attr.value END) AS name
        FROM
            power_standingbook_attribute attr
        WHERE
            attr.code IN ('measuringInstrumentId', 'measuringInstrumentName')
          and attr.standingbook_id is not null and attr.deleted=0
        GROUP BY
            attr.standingbook_id,
            attr.type_id
    </select>


    <select id="getStandingbookCodeDeviceList" resultType="java.lang.String">
    select value from power_standingbook_attribute where code='equipmentId'
                                                     and deleted = 0 and value is not null
    </select>
    <select id="getStandingbookCodeMeasurementList" resultType="java.lang.String">
        select value from power_standingbook_attribute where code='measuringInstrumentId'
                                                         and deleted = 0 and value is not null
    </select>
</mapper>
